<h1>簡易掲示板</h1>

<% if @message.errors.present? %>
  <% @message.errors.full_messages.each do |err| %>
    <p style="color: red"><%= err %></p>
    <br>
  <% end %>
  <br>
<% end %>

<%= form_for(@message) do |f| %>
  <p>投稿</p>
  <div>
    <%= f.text_field :title, size: '25', placeholder: 'お名前を入力してください' %>
  </div>
  <div>
    <%= f.password_field :password, size: '25', placeholder: '削除用パスワードを入力' %>
  </div>
  <div>
    <%= f.text_area :body, size: '30x7', placeholder: '投稿内容を入力してください' %>
  </div>
  <%= f.submit '投稿する' %>
<% end %>

<hr>

<div>
  <%=
    select_tag 'sort_order',
               options_for_select([["新着順", "#{sort_url @search, :created_at, default_order: :asc}"], ["名前順", "#{sort_url @search, :title, default_order: :asc}"], ["古い順", "#{sort_url @search, :created_at, default_order: :desc}"]])
  %>

  <%= search_form_for @search do |f| %>
    <%= f.search_field :body_cont, placeholder: '検索ワードを入力' %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<div>
  <%= paginate @messages %>
</div>

<br>

<% @messages.each do |message| %>
  <div>
    <%= message.id %> : <%= message.title %> : <%= message.created_at.to_s(:datetime_jp) %>
    <br>
    <%= message.body %>
  </div>
  <%= form_for(message, url: message_path(id: message.id), method: :delete) do |f| %>
    <%= f.text_field :password, placeholder: '削除パスワードを入力' %>
    <%= f.submit '削除' %>
  <% end %>
<% end %>

<div>
  <%= paginate @messages %>
</div>
