<h1>簡易掲示板</h1>

<%= form_for(@message) do |f| %>
  <font size="2">投稿</font>
  <div>
    <%= f.text_field :title, :size => "25", :placeholder => "お名前を入力してください" %>
  </div>
  <div>
    <%= f.password_field :deletepwd, :size => "25", :placeholder => "削除用パスワードを入力" %>
  </div>
  <div>
    <%= f.text_area :body, :size => "30x7", :placeholder => "投稿内容を入力してください" %>
  </div>

  <%= f.submit '投稿する' %>

  <% if flash[:error_messages] %>
    <div class="alert alert-danger">
      <ul>
        <% flash[:error_messages].each do |msg| %>
          <li><%= msg %></li>
          li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% @message.errors.full_messages.each do |err| %>
    <font color="red">
      <%= err %>
    </font>
    <br>
  <% end %>
  <br>

<% end %>

<hr>
<%=
  select :sort_link, :url,
         [
             ["新着順", sort_url(@q, :created_at, default_order: :desc)],
             ["名前順", sort_url(@q, :title, default_order: :asc)],
             ["古い順", sort_url(@q, :created_at, default_order: :asc)],
         ],
         include_blank: 'ソート順を選択してください'
%>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont, :placeholder => "検索ワードを入力" %>
  <%= f.submit %>
<% end %>

<div>
  <%= paginate @messages %>
</div>

<div>
  <% @messages.each do |msg| %>
    <%= msg.id %> : <%= msg.title %> : <%= msg.created_at.to_s(:datetime_jp) %><br>
<pre>
<%= msg.body %>
<%= form_for @message, method: :delete do |f| %>
<%= f.password_field :password, :placeholder => "削除用パスワード" %><%= f.submit "削除" %>

<% end %>

</pre>
<% end %>
</div>

<div>
  <%= paginate @messages %>
</div>

